<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<body>
    <div class="container-xxl emp-profile container-min container-fluid container-main">
        <h1 class="tittle">Practica Caida Libre</h1>
        <div>
            <div class="col-md-12">
                <div class="container-grabacion">
                    <h1 class="text-1"> campo para la grabación</h1>
                </div>

                <div class="grafica">
                    <h1 class="text-1">campo para la grafica</h1>
                </div>

            </div>
            <div class="col">
                <div class=" row container-practica">
                    <h1 class="text">Datos de la practica</h1>
                    <div class="datos-practica" *ngIf="rol$ == 'Lider'">
                        <div *ngIf="bandera$; else sino">
                            <select name="OS" class="desplegable">
                                <option value="1">Altura</option>
                                <option value="2">Tiempo 15</option>
                                <option value="3">Tiempo 30</option>
                                <option value="10">Tiempo 45</option>
                                <option value="11">Tiempo 60</option>
                            </select>
                            <button class="btn btn-primary button">Enviar datos</button>
                            <button class="btn btn-primary button-1" (click)="descargar()">Descargar PDF</button>
                            <button class="btn btn-primary button-2" >Iniciar</button>
                            <button class="btn btn-primary button-3" >Reiniciar</button>
                            <button class="btn btn-danger button-4" >Terminar practica</button>
                            <button class="btn btn-danger button-9" mat-raised-button routerLink="/inicio" >Regresar</button>
                        </div>
                        <ng-template #sino>
                            <button class="btn btn-warning button-6" (click)="verificar()">Check</button>
                            <button class="btn btn-danger button-9" mat-raised-button routerLink="/inicio" >Regresar</button>
                        </ng-template>
                    </div>

                    <div class="datos-practica" *ngIf="rol$ == 'Observador'">
                        <select name="OS" class="desplegable">
                            <option value="1">Altura</option>
                            <option value="2">Tiempo 15</option>
                            <option value="3">Tiempo 30</option>
                            <option value="10">Tiempo 45</option>
                            <option value="11">Tiempo 60</option>
                        </select>
                        <button class="btn btn-primary button-7" (click)="descargar()">Descargar PDF</button>
                        <button class="btn btn-danger button-8" mat-raised-button routerLink="/inicio">Regresar</button>

                    </div>
                    
                </div>
                <div class="container-datos-practica">
                    <h1 class="text-1">Datos</h1>
                </div>
            </div>
        </div>
    </div>
    
</body>