

<div class="background">
  <div style="position: absolute;" class="login-container">
    <div class="form-container">
      <h1>Iniciar Sesion</h1>
      <img id="logo-u"
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/57/Logo_de_la_Universidad_del_Cauca.svg/1200px-Logo_de_la_Universidad_del_Cauca.svg.png"
        alt="">
      <br>
      <button mat-raised-button color="primary" (click)="iniciarSesion()">
        Inicia sesion con Google
      </button>
    </div>
  </div>
</div>