<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" media="only screen and (max-width: 768px)" href="leyhooke.component.scss">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<body>
    <div class="container-xxl emp-profile container-min container-fluid container-main">
        <h1 class="tittle">Practica Ley de Hooke</h1>
        <div class="row">
            <div>
                <div class="container-grabacion">
                    <h1 class="text-1"> campo para la grabación</h1>
                </div>
                <div class="grafica">
                    <h1 class="text-1">campo para la grafica</h1>
                    <ngx-charts-bar-vertical-2d
                        [view]="view"
                        [customColors]="colorScheme"
                        [results]="multi"
                        [gradient]="gradient"
                        [xAxis]="showXAxis"
                        [yAxis]="showYAxis"
                        [legend]="showLegend"
                        [showXAxisLabel]="showXAxisLabel"
                        [showYAxisLabel]="showYAxisLabel"
                        [xAxisLabel]="xAxisLabel"
                        [yAxisLabel]="yAxisLabel"
                        [legendTitle]="legendTitle"
                        (select)="onSelect($event)"
                        (activate)="onActivate($event)"
                        (deactivate)="onDeactivate($event)">
                    </ngx-charts-bar-vertical-2d>
                </div>
            </div>
            <div class="col">
                <div class=" row container-practica">
                    <h1 class="text">Datos de la practica</h1>

                    <countdown class="text" [config]="config" (event)="handleEvent($event)"></countdown>
                    <div class="datos-practica">      
                        <select name="OS" class="desplegable">
                            <option value="1">Alturas</option> 
                            <option value="2">Tiempo 15</option> 
                            <option value="3">Tiempo 30</option>
                            <option value="10">Tiempo 45</option> 
                            <option value="11">Tiempo 60</option> 
                         </select>
                        <button class="btn btn-primary button">Enviar datos</button>
                        <button class="btn btn-primary button-1">Descargar PDF</button>
                        <button class="btn btn-primary button-2">Iniciar</button>
                        <button class="btn btn-primary button-3">Reiniciar</button>
                        <button class="btn btn-danger button-4">Terminar practica</button>

                    </div>

                </div>
                <div class="container-espacio">
                    <h1 class="text-1">Datos</h1>
                </div>
            </div>
        </div>

    </div>
</body>