<div class="float-container">
  <div class="float-child">
    <mwl-demo-utils-calendar-header [(view)]="view" [(viewDate)]="viewDate">
    </mwl-demo-utils-calendar-header>

    <div class="alert alert-info">
      Click on a day or time slot on the view.
      <strong *ngIf="clickedDate">You clicked on this time: {{ clickedDate | date:'medium' }}</strong>
      <strong *ngIf="clickedColumn !== undefined">You clicked on this column: {{ clickedColumn }}</strong>
    </div>

    <div [ngSwitch]="view">
      <mwl-calendar-month-view *ngSwitchCase="'month'" [viewDate]="viewDate" [events]="events"
        (columnHeaderClicked)="clickedColumn = $event.isoDayNumber" (dayClicked)="clickedDate = $event.day.date">
      </mwl-calendar-month-view>
      <mwl-calendar-week-view *ngSwitchCase="'week'" [viewDate]="viewDate" [events]="events"
        (dayHeaderClicked)="clickedDate = $event.day.date" (hourSegmentClicked)="clickedDate = $event.date">
      </mwl-calendar-week-view>
      <mwl-calendar-day-view *ngSwitchCase="'day'" [viewDate]="viewDate" [events]="events"
        (hourSegmentClicked)="clickedDate = $event.date" (eventClicked)="eventClicked($event)">
      </mwl-calendar-day-view>
    </div>

  </div>

  <div class="float-child">
    <h2>INTEGRANTES DE LA PRACTICA</h2>
    <mat-dialog-content>
      <p>Ingresa los integrantes de la practica</p>
      <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Integrante 1</mat-label>
          <input matInput placeholder="Ex. Pizza" value="">
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Integrante 2</mat-label>
          <input matInput placeholder="Ex. Pizza" value="">
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Integrante 3</mat-label>
          <input matInput placeholder="Ex. Pizza" value="">
        </mat-form-field>
        <br>
      </form>
    </mat-dialog-content>

    <mat-dialog-actions>
      <button mat-raised-button cdkFocusInitial>
        Enviar
      </button>
    </mat-dialog-actions>
  </div>
</div>