
    <div class="col-lg-12 laboratorios">
        <mat-card class="primera-card" *ngFor="let lista of listado">
            <mat-card-title class="titulo-practica">{{lista}}</mat-card-title>  
            <mat-card-content> Content</mat-card-content>
            <br>
            <br>
            <button mat-raised-button  class="irPractica" routerLink="/materias">Ir a la practica</button>
        </mat-card>
        <div *ngIf="(user$)!">
            {{user$.email}}
            {{user$.displayName}}
        </div>
    </div>
    <div>
        <button mat-raised-button routerLink="/calendario">Ver Calendario</button>  
    </div>
    <br>
    <div>
        <button class="btn btn-danger" (click)="onLogout()">Logout</button>
        <button class="btn btn-primary btn-sm" (click)="openDialog()">Vincular Materia</button>
    </div>